/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template

//Universidad Nacional, Campus Coto
//Desarrollado por:
    //Joxan Portilla Hernandez
    //Melani Barrantes Hidalgo
    //Alberto Torres
    //Kimberly Porras
//2023
*/


#AnchorPane {
    -fx-background-color: linear-gradient(to bottom, #B0D2FF, white);
    -fx-font-family: "Britannic Bold";
}

.highlight{
    -fx-background-color: #00000015;
    -fx-background-radius: 15;
}

.button{
    -fx-background-color: #00000015;
    -fx-border-radius: 30px;
    -fx-background-radius: 30;
    -fx-font-size: 15pt;
}

.button:hover{
    -fx-border-color: blue;
    -fx-cursor: hand;
}

.text-field{
    -fx-font-size: 15pt;
    -fx-text-fill: red;
}

.text-field:hover{
    -fx-border-color: grey;
}

.label#lbl_tiempo{
    -fx-font-size: 15pt;
    -fx-text-fill: white;
}

.label#lbl_mov{
    -fx-font-size: 15pt;
    -fx-text-fill: white;
}

.label#lbl_cantmov{
    -fx-font-size: 13pt;
    -fx-border-radius: 15px;
    -fx-border-color: #3AB230;
    -fx-text-fill: #14650D;
}

.label#lbl_cantTiempo{
    -fx-font-size: 13pt;
    -fx-border-radius: 15px;
    -fx-border-color: #3AB230;
    -fx-text-fill: #14650D;
}

#lbl_ganador{
    /*#4D0063#68073C*/
    -fx-text-fill: #520E33;
    -fx-font-size: 50pt;
}

.table-view{
    -fx-font-size: 15pt;
}