/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 22 ago 2023, 10:04:29
    Author     : Melani Barrantes
*/

#AnchorPane {
    -fx-background-color: linear-gradient(to bottom, #B0D2FF, white);
    -fx-font-family: "Britannic Bold";
}

.button{
    -fx-background-color: white;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-font-size: 15pt;
}

.button:hover{
    -fx-border-color: grey;
}

.text-field#txt_nombre{
    -fx-font-size: 15pt;
    -fx-text-fill: red;
}

.text-field: hover{
    -fx-border-color: grey;
}

